{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    	<div class="container">
        	<h1 class="title">Che tipo di scuola cerchi?</h1>
            <label>Tipologia:</label>
         	<select class="form-control">
              <option>Scuola dell'Infanzia</option>
              <option>Scuola Primaria</option>
              <option>Scuola Secondaria I grado</option>
              <option>Scuola Secondaria II grado</option>
            </select>
            <div>Ordina:</div>
            <ul class="list-group" id="sortable">
              <li class="list-group-item">Distanza</li>
              <li class="list-group-item">Valutazione PISA/Invalsi</li>
              <li class="list-group-item">Digitalizzazione</li>
            </ul>
            <a class="btn btn-primary form-control btn-larger"><i class="icon-fixed-width icon-search"></i>Cerca</a>
        </div>
    </div>
{% endblock content %}


{% block script %}
DS = {};
$(function(){
	$( "#sortable" ).sortable();
});
{% endblock script %}